[submodule "simulator/lib/libbf"]
	path = simulator/lib/libbf
	url = https://github.com/mavam/libbf.git
[submodule "simulator/lib/LightGBM"]
	path = simulator/lib/LightGBM
	url = https://github.com/sunnyszy/LightGBM.git
